body {

  color: f0fff;
}

.list-group {
list-style: none;
}

.jumbotron {
  background-image: url("background.jpg"); 
  
  background-position: center center, center top;
  background-repeat: repeat, no-repeat;
  text-align: center;
 }


#navbar ul {
  padding: 15px;
  list-style-type:none;
  text-align:center;
  background-color: coral;
  margin: 10px;
  border-radius: 5px;
}

#navbar ul li {
  display: inline;
}

